/* Inserta tu código de la página blog acá */
*{
/*	outline: 1px solid red;
*/	box-sizing: border-box;
}
body{
	font-family: Arial, Helvetica, sans-serif;
/**/}
.col-xs-12  {
	border: 2px solid #DAD3D3;
	margin: 10px;
	padding-bottom: 5px;

}
span{
	font-size: 20px;
}